*, *::before, *::after {
  background-origin: border-box;
}

/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
*/

body {
  margin: 0;
  font: 1rem 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.navigation {
  background-color: #2E323F;
  font: 1.125rem 'Oswald', sans-serif;
  text-align: center;
  padding: 1em 0;
}

.nav-toggle {
  cursor: pointer;
  border: none;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background-color: #000;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:hover,
.nav-toggle:focus {
  opacity: .5;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: #FFF;
}

.hamburger::before,
.hamburger::after {
  content: '';
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo {
  margin-bottom: 0.5em;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1.125em;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  margin-bottom: 2em;
}

.nav__list--secondary {
  margin-bottom: .25em;
}

.nav__item + .nav__item {
  margin-top: 0.5em;
}

.nav__link {
  text-decoration: none;
  color: #FFF;
  opacity: 0.80;
}

.nav__link:hover,
.nav__link:focus {
  opacity: .5;
}

.nav__link--button {
  display: inline-block;
  margin-top: .25em;
  padding: .25em 1em;
  background-color: #A59678;
  border-radius: 200px;
}