*, *::before, *::after {
  background-origin: border-box;
}

/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
*/

body {
  margin: 0;
  font: 1rem 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.highlight {
  color: #A59678;
}

.btn {
  display: inline-block;
  padding: .5em 1.5em;
  border-radius: 100px;;
  background-color: #A59678;
  text-decoration: none;
  text-transform: uppercase;
  font: 1.3125rem 'Oswald', sans-serif;
  color: #FFF;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}

.navigation {
  background-color: #2E323F;
  font: 1rem 'Oswald', sans-serif;
  text-align: center;
  padding: 1em 0;
}

.nav-toggle {
  cursor: pointer;
  border: none;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background-color: #000;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:hover,
.nav-toggle:focus {
  opacity: .5;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: #FFF;
}

.hamburger::before,
.hamburger::after {
  content: '';
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo {
  margin-bottom: 0.5em;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1.125em;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  margin-bottom: 2em;
}

.nav__list--secondary {
  margin-bottom: .25em;
}

.nav__item + .nav__item {
  margin-top: 0.5em;
}

.nav__link {
  text-decoration: none;
  color: #FFF;
  opacity: 0.80;
}

.nav__link:hover,
.nav__link:focus {
  opacity: .5;
}

.nav__link--button {
  display: inline-block;
  margin-top: .25em;
  padding: .25em 1em;
  background-color: #A59678;
  border-radius: 200px;
}

.banner {
  padding: 50px 0;
  background-color: #3B4050;
}

.banner__title {
  margin-top: 0;
  font: 3.75rem / 1.25 'Oswald', sans-serif;
  color: #FFF;
}

.banner__content {
  font-size: 1.3125rem;
  color: #FFF;
}

.section-one {
  padding: 50px 0;
  background-color: #E7FEFF;
}

.section-one__title {
  margin-top: 0;
  font: 1.75rem 'Oswald', sans-serif;
  text-align: center;
}

.section-one__text {
  text-align: justify;
}

.section-two {
  padding: 50px 0;
}

.section-two__title {
  margin-top: 0;
  font: 1.875rem 'Oswald', sans-serif;
}

.section-two__text {
  margin-bottom: 0;
  font-size: 1.125rem;
}

.section-two__aside {
  margin-top: 50px;
}

.aside__col {
  padding: 2em 0;
  background-color: #3B4050;
  text-align: center;
  color: #FFF;
}

.aside__col + .aside__col {
  margin-top: 1em;
}

.aside__title {
  margin-top: 0;
  font: 1.75rem 'Oswald', sans-serif;
}

.aside__text {
  width: 90%;
  margin: 0 auto;
}